@page "/lessons"
@using codesome.Shared
@using codesome.Shared.Models
@inject HttpClient Http
@inject NavigationManager _navigator

<PageTitle>Courses</PageTitle>

<h1>Courses</h1>

@* <p>This component demonstrates fetching data from the server.</p> *@

@if (courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price in USD</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.Title</td>
                    <td>@course.Description</td>
                    <td>@course.Price</td>
                    <td>@course.StartDate</td>
                    <td>@course.EndDate</td>
                </tr>
            }
        </tbody>
    </table>
}