@page "/modules"
@using codesome.Shared
@using codesome.Shared.Models
@inject HttpClient Http
@inject NavigationManager _navigator

<PageTitle>Modules</PageTitle>

<h1>Modules</h1>

@* <p>This component demonstrates fetching data from the server.</p> *@

@if (modules == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Description</th>
                <th>Lessons Count</th>
                <th>Author Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in modules)
            {
                <tr>
                    <td>@module.Id</td>
                    <td>@module.Title</td>
                    <td>@module.Description</td>
                    <td>@module.Lessons.Count</td>
                    <td>@module.Course.CustomUser.UserName</td>
                </tr>
            }
        </tbody>
    </table>
}